<div class="row">
    <div class="col-md-3">
        <div class="card text-center">
            <h5 class="card-header">{{ player.name }}</h5>
            <img alt="{{ player.name }}" src="{{ url_for('static', filename=player.image) }}" class="card-img">
            <h6 class="card-title ">{{ player.team }} - {{ player.type }} - {{ player.country }}</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <h5 class="card-header">Cost Analysis</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Salary &#8377 <strong>{{ player.cost }}</strong> lacs</li>
                <li class="list-group-item">
                    Ranked <strong>{{ player.cost_rank }}</strong> of {{ player.cost_rank_total }}
                </li>
                <li class="list-group-item">
                    Base Price &#8377 <strong>{{ player.base }}</strong> lacs
                </li>
                <li class="list-group-item">
                    Cost SBP &#8377 <strong>{{ player.sbp_cost }}</strong> lacs
                </li>
                <li class="list-group-item">
                    Cost SBP (Suggested Bid Price) is based on the salary given to the player in 2020 IPL
                </li>
                <li class="list-group-item">
                    Cost SBP might change during auction based on the price the
                    other players have been bought.
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <h5 class="card-header">2019 Analysis</h5>
            <ul class="list-group list-group-flush">
                {% if player.ipl2019_score > 0 %}
                    <li class="list-group-item">
                        Scored <strong>{{ player.ipl2019_score }}</strong> points
                    </li>
                    <li class="list-group-item">
                        Ranked <strong>{{ player.ipl2019_rank }}</strong> of {{ player.ipl2019_rank_total }}
                    </li>
                    <li class="list-group-item">
                        2019 SBP &#8377 <strong>{{ player.sbp_2019 }}</strong> lacs
                    </li>
                    <li class="list-group-item">
                        2019 SBP (Suggested Bid Price) is based on the points earned by the player in 2019 SFL
                    </li>
                    <li class="list-group-item">
                        2019 SBP will remain constant throughout the auction.
                    </li>
                {% else %}
                    <li class="list-group-item">Did not play in IPL 2019</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <h5 class="card-header">
                {% if last_player %}
                    <a href="{{ url_for('view_player', player_id=last_player.id) }}">{{ last_player.name }}</a>
                {% else %}
                    2020 Auction
                {% endif %}
            </h5>
            <ul class="list-group list-group-flush">
                {% if bids %}
                    <li class="list-group-item">
                        {% if last_player %}
                            {% if last_player.owner %}
                                Owned by <strong>{{ last_player.owner.upper() }}</strong> @ &#8377
                                <strong>{{ last_player.price }}</strong>
                                lacs
                            {% else %}
                                Unsold
                            {% endif %}
                        {% else %}
                            {% if player.owner %}
                                Owned by <strong>{{ player.owner.upper() }}</strong> @ &#8377
                                <strong>{{ player.price }}</strong>
                                lacs
                            {% else %}
                                Unsold
                            {% endif %}
                        {% endif %}
                    </li>
                    {% for bid in bids %}
                        <li class="list-group-item">
                            {{ bid.username.upper() }} {{ bid.status }}
                            {% if bid.amount %}
                                {{ bid.amount }}
                            {% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">Not yet auctioned</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
