<div class="row">
    <div class="col-md-3">
        <div class="card text-center">
            <h5 class="card-header">{{ player.name }}</h5>
            <img alt="{{ player.name }}" src="{{ url_for('static', filename=player.image) }}" class="card-img">
            <h6 class="card-title ">{{ player.team }} - {{ player.type }} - {{ player.country }}</h6>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <h5 class="card-header">Analysis</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Base Price &#8377 <strong>{{ player.base }}</strong> lacs
                </li>
                <li class="list-group-item">
                    Auto bid from <strong>{{ player.get_min_bid() }}</strong> to
                    <strong>{{ player.get_max_bid() }}</strong>
                </li>
                <li class="list-group-item">
                    Salary &#8377 <strong>{{ player.cost }}</strong> lacs
                </li>
                <li class="list-group-item">
                    Salary Ranked <strong>{{ player.cost_rank }}</strong> of {{ player.cost_rank_total }}
                </li>
                <li class="list-group-item">
                    Salary SBP &#8377 <strong>{{ player.sbp_cost }}</strong> lacs
                </li>
                {% if player.ipl2019_score > 0 %}
                    <li class="list-group-item">
                        2019 Scored <strong>{{ player.ipl2019_score }}</strong> points
                    </li>
                    <li class="list-group-item">
                        2019 Ranked <strong>{{ player.ipl2019_rank }}</strong> of {{ player.ipl2019_rank_total }}
                    </li>
                    <li class="list-group-item">
                        2019 SBP &#8377 <strong>{{ player.sbp_2019 }}</strong> lacs
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <h5 class="card-header">Schedule</h5>
            <ul class="list-group list-group-flush">
                {% for game_week, matches in player.get_schedule_by_game_week() %}
                    {% if matches %}
                        <li class="list-group-item">
                            {% for match in matches %}
                                <div class="row">
                                    <div class="col">
                                        <strong>GW-{{ game_week }}</strong> {{ match }}
                                    </div>
                                </div>
                            {% endfor %}
                        </li>
                    {% else %}
                        <li class="list-group-item">
                            <strong>GW-{{ game_week }}</strong> No matches
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <h5 class="card-header">
                {% if last_player %}
                    <a href="{{ url_for('view_player', player_id=last_player.id) }}">{{ last_player.name }}</a>
                {% else %}
                    2020 Auction
                {% endif %}
            </h5>
            <ul class="list-group list-group-flush">
                {% if bids %}
                    <li class="list-group-item">
                        {% if last_player %}
                            {% if last_player.owner %}
                                Owned by <strong>{{ last_player.owner.upper() }}</strong> @ &#8377
                                <strong>{{ last_player.price }}</strong>
                                lacs
                            {% else %}
                                Unsold
                            {% endif %}
                        {% else %}
                            {% if player.owner %}
                                Owned by <strong>{{ player.owner.upper() }}</strong> @ &#8377
                                <strong>{{ player.price }}</strong>
                                lacs
                            {% else %}
                                Unsold
                            {% endif %}
                        {% endif %}
                    </li>
                    {% for bid in bids %}
                        <li class="list-group-item">
                            {{ bid.username.upper() }} {{ bid.status }}
                            {% if bid.amount %}
                                {{ bid.amount }}
                            {% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">Not yet auctioned</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
