<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ title|default('IPL 2020') }}{% endblock title %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>
<!-- NavBar -->
<div class="container">
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='brand.png') }}" alt="SFL">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <div class="navbar-nav mr-auto">
                {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link active" href="{{ url_for('all_players') }}">Players</a>
                    <a class="nav-item nav-link active" href="{{ url_for('my_team') }}">My Team</a>
                    <a class="nav-item nav-link active" href="{{ url_for('view_bids') }}">Bids</a>
                    {% if current_user.bidding %}
                        <a class="nav-item nav-link active" href="{{ url_for('submit_bid') }}">Bid</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="navbar-nav ml-auto">
                {% if current_user.is_anonymous %}
                    <a class="nav-item nav-link active" href="{{ url_for('login') }}">Login</a>
                {% else %}
                    <a class="nav-item nav-link active" href="{{ url_for('user_profile') }}">
                        {{ current_user.username.upper() }}
                    </a>
                    <a class="nav-item nav-link active" href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <br>
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% if current_user.is_authenticated and current_user.bidding %}
            <br>
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('submit_bid') }}">
                        <div class="alert alert-warning" role="alert">
                            <span id="current_bid_status">Auction in progress</span>
                        </div>
                    </a>
                </div>
            </div>
        {% endif %}
        <br>
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {#    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"#}
    {#            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"#}
    {#            crossorigin="anonymous"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js">
    </script>

    <script>
        $.extend($.fn.dataTable.defaults, {
            paging: false,
            dom: '<"top"if>'

        });
    </script>

    {% if current_user.is_authenticated and current_user.bidding %}
        <script>
            let interval_id = null;
            $(function () {
                interval_id = setInterval(updateMessage, 10000);
                updateMessage();
            });

            function updateMessage() {
                $.ajax('{{ url_for('current_bid_status') }}').done(function (msg) {
                    $('#current_bid_status').text(msg.message);
                    if (msg.message === 'Auction is OFF')
                        clearInterval(interval_id);
                });

            }
        </script>
    {% endif %}
{%- endblock scripts %}

</body>
</html>
