{% extends 'base.html' %}

{% block app_content %}

    {% if bids %}
        <br>
        <table id="bid_list" class="table table-bordered table-sm table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">No</th>
                <th scope="col" class="text-center">Name</th>
                {% if all %}
                    <th scope="col" class="text-center">Own</th>
                {% endif %}
                {% for user in users %}
                    <th scope="col" class="text-center">{{ user.upper() }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for bid_batch in bids|batch(users|length) %}
                <tr>
                    <td class="align-middle text-center">
                        {{ bid_batch[0].bid_order }}
                    </td>
                    <td class="align-middle">
                        {% if all %}
                            {{ bid_batch[0].player_name }}
                        {% else %}
                            <a href="{{ url_for('view_player_by_name', player_name=bid_batch[0].player_name) }}"
                               class="btn btn-block btn-primary">{{ bid_batch[0].player_name }}</a>
                        {% endif %}
                    </td>
                    {% if all %}
                        <td class="align-middle text-center">
                            {% for bid in bid_batch %}
                                {% if bid.winner %}
                                    {{ bid.username.upper() }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endif %}
                    {% for bid in bid_batch %}
                        {% if bid.winner %}
                            <td class="text-center align-middle table-success">{{ bid.amount }}</td>
                        {% else %}
                            <td class="text-center align-middle">
                                {% if bid.amount %}
                                    {{ bid.amount }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if not all %}
            <br>
            <div class="row">
                <div class="col text-center">
                    <a href="{{ url_for('view_all_bids') }}" class="btn btn-danger">View All Bids</a>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="row">
            <div class="col">
                <h6>There are no bids made</h6>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if all %}
        <script>
            $(document).ready(function () {
                $('#bid_list').DataTable();
            });
        </script>
    {% endif %}
{% endblock %}
