{% extends 'base.html' %}

{% block app_content %}

    {% if game_week %}
        {% for game_week_batch in range(1, game_week + 1)|batch(12) %}
            <div class="row">
                {% for number in game_week_batch %}
                    <div class="col-lg-1">
                        <a class="btn btn-block btn-primary"
                           href="{{ url_for('user_team', owner=username, game_week=number) }}">
                            GW{{ number }}
                        </a>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <br>
        {% endfor %}
    {% else %}
        <h1 class="text-center">{{ title }}</h1>
    {% endif %}
    {% if players %}
        <table id="player_list" class="table table-bordered table-sm table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">No</th>
                <th scope="col" class="text-center">
                    {% if game_week %}
                        {{ title }}
                    {% else %}
                        Name
                    {% endif %}
                </th>
                <th scope="col" class="text-center">Score</th>
                <th scope="col" class="text-center d-none d-md-table-cell">Cost</th>
                <th scope="col" class="text-center d-none d-md-table-cell">Base</th>
                {% if not username %}
                    <th scope="col" class="text-center d-none d-md-table-cell">Owner</th>
                {% endif %}
                <th scope="col" class="text-center">Price</th>
                <th scope="col" class="text-center d-none d-md-table-cell">Team</th>
                <th scope="col" class="text-center d-none d-md-table-cell">Type</th>
                <th scope="col" class="text-center d-none d-md-table-cell">Country</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <td class="text-center align-middle font-weight-bold">
                        {{ loop.index }}
                    </td>
                    <td class="text-center align-middle font-weight-bold">
                        <a class="btn btn-block btn-primary"
                           href="{{ url_for('view_player', player_id=player.id) }}">{{ player.name }}</a>
                    </td>
                    <td class="text-center align-middle font-weight-bold">
                        {{ player.score }}
                    </td>
                    <td class="text-center align-middle d-none d-md-table-cell">
                        {{ player.cost }}
                    </td>
                    <td class="text-center d-none d-md-table-cell align-middle">
                        {{ player.base }}
                    </td>
                    {% if not username %}
                        <td class="text-center align-middle  d-none d-md-table-cell">
                            {% if player.owner %}
                                {{ player.owner.upper() }}
                            {% else %}
                                Unsold
                            {% endif %}
                        </td>
                    {% endif %}
                    <td class="text-center align-middle">
                        {{ player.price }}
                    </td>
                    <td class="text-center align-middle  d-none d-md-table-cell">
                        {{ player.team }}
                    </td>
                    <td class="text-center d-none d-md-table-cell align-middle">
                        {{ player.type }}
                    </td>
                    <td class="text-center d-none d-md-table-cell align-middle">
                        {{ player.country }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No Players Owned
    {% endif %}

    <br>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('#player_list').DataTable();
        });
    </script>
{% endblock %}