{% extends 'base.html' %}

{% block app_content %}

    <h1>{{ username.upper() }} - Players</h1>
    <br>
    {% if players %}
        <table id="user_players" class="table table-bordered table-sm table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">No</th>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Score</th>
                <th scope="col" class="text-center">Cost</th>
                <th scope="col" class="text-center">Base</th>
                <th scope="col" class="text-center">Price</th>
                <th scope="col" class="text-center">Team</th>
                <th scope="col" class="text-center">Type</th>
                <th scope="col" class="text-center">Country</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}
                <tr>
                    <td class="text-center align-middle font-weight-bold">
                        {{ loop.index }}
                    </td>
                    <td class="text-center align-middle font-weight-bold">
                        {{ player.name }}
                    </td>
                    <td class="text-center align-middle font-weight-bold">
                        {{ player.score }}
                    </td>
                    <td class="text-center align-middle">
                        {{ player.cost }}
                    </td>
                    <td class="text-center align-middle">
                        {{ player.base }}
                    </td>
                    <td class="text-center font-weight-bold align-middle">
                        {{ player.price }}
                    </td>
                    <td class="text-center align-middle">
                        {{ player.team }}
                    </td>
                    <td class="text-center align-middle">
                        {{ player.type }}
                    </td>
                    <td class="text-center align-middle">
                        {{ player.country }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No Players Owned
    {% endif %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('#user_players').DataTable({
                "lengthMenu": [[-1], ["All"]]
            });
        });
    </script>
{% endblock %}